<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='connexion.css') }}">
</head>
<body>

    <!-- <div class="video-background">
        <video autoplay muted loop id="background-video">
            <source src="../static/images/istockphoto-2018098776-640_adpp_is.mp4" type="video/mp4">
            Votre navigateur ne supporte pas les vidéos HTML5.
        </video>
    </div> -->

    <div class="auth-container wrapper">
        <h2>Connexion</h2>
        {% for message in get_flashed_messages() %}
  <p style="color: red;">{{ message }}</p>
{% endfor %}
        <form method="POST" class="policy">
            <label for="email" >Email :</label>
            <input class="input-box" type="email" name="email" required >

            <label for="password">Mot de passe :</label>
            <input class="input-box" type="password" name="password" required>

            <button type="submit">Se connecter</button>
        </form>
        <p>Pas encore de compte ? <a href="{{ url_for('register') }}">Inscris-toi</a></p>
    </div>
</body>
</html>
